*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.wrapper{
  position: relative;
  overflow: hidden;
  background: #FFD0CA;
  width: 100%;
  height: 100vh;
}

.parallax{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.parallax__layer{
  position: absolute;
  height: 100%;
  width: 100%;
  left: 50%;
  margin-left: -1500px; 
}

.parallax__layer img{
  position: absolute;
  bottom: 0;
}